
    <tr class="<%= cycle("table-active", "table-secondary") -%>">
      <td><%= link.title %></td>
      <td><%= link.url %></td>
      <td><%= link_to "http://thinly.herokuapp.com/" + link.slug , "http://thinly.herokuapp.com/" +link.slug %></td>
       <td><%= link.clicked %></td>
    </tr>