<br/>
<h2>CREATE SHORTENED URL</h2>
<%= flash[:error] %>
<%= form_with  model: @link , remote: true do |form| %>
  <div class="row">
      <div class="col-6">
        <fieldset>
              <div class="form-group">
                <%= label_tag "Please input url you want to shorten(must contain http:// or https://)" %>
                <%= form.text_field :url , class: "form-control", placeholder: "http://www.heroku.com"%>
              </div>
        </fieldset>
      </div>
    </div>

      <div class="row">
      <div class="col-6">
        <fieldset>
              <div class="form-group">
                <%= label_tag "Choose a short or leave empty to fill automatically" %>
                <%= form.text_field :slug , class: "form-control", placeholder: "Slug"%>
              </div>
        </fieldset>
      </div>
    </div>
  <%= form.submit "Create Link", class: "btn btn-primary" %>
<% end %>

<br/>
<br/>
<h2>ALL URLs</h2>

<%= link_to 'View top 100 Links', best_hundred_links_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Long Url</th>
      <th scope="col">Short Url</th>
      <th scope="col">Click Count</th>
    </tr>
  </thead>

  <tbody id="links">
      <%= render @links %>
  </tbody>
</table>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @links %>
    </div>
    
    <%= will_paginate @links, :container => false %>
</div>