<% @links.each do |link| %>
  <ul>
    <li><%= link.title %> - <%= link.url %> - <%= link_to link.slug , "http://localhost:3000/s/" +link.slug %> - <%= link.clicked %></li>
  </ul>
<% end %>
<%= link_to 'Create another link', new_link_path %>